* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1, h2, h3 ,h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;    
}

.row {
    display: flex;
}

.wrapper-sections {
    padding: 150px 0 180px 0;
}

// font-family: 'Montserrat', sans-serif;